/* .Navigation {
  margin: 10px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100%;
} */

.NavigationItem {
  margin: 10px 10px;
  box-sizing: border-box;
  display: inline;
  width: 100%;
  padding: 20px 20px;
}

.NavigationItem a {
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  color: black;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
  color: white;
}

.activec {
  color: white;
}
